.primeira{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

}

.primeira__titulo{
  margin-top: 100px;
  color: var(--azul-escuro);
  font-size: 26px;
  font-family: var(---fonte-titulo);
  font-weight: bold;
}

.primeira__info{
  display: flex;
  width: 100%;
}

.primeira__info--texto{
  margin-left: 110px;
  width: 42%;
  margin-top: 100px;
}

.primeira__info--texto h3{
  color: var(--azul-escuro);
  font-family: var(---fonte-titulo);
  margin-bottom: 20px;
}

#primeira__espaco{
  margin-bottom: 50px;
}

.primeira__info img{
  width: 700px;
  position: absolute;
  right: -180px;
  top: 50px;
 
}