.primeira{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

}

.primeira__titulo{
  margin-top: 100px;
  color: var(--azul-escuro);
  font-size: 26px;
  font-family: var(---fonte-titulo);
  font-weight: bold;
}

.primeira__info{
  display: flex;
  width: 100%;
}

.primeira__info--texto{
  margin-left: 110px;
  width: 42%;
  margin-top: 100px;
}

.primeira__info--texto h3{
  color: var(--azul-escuro);
  font-family: var(---fonte-titulo);
  margin-bottom: 20px;
}

#primeira__espaco{
  margin-bottom: 50px;
}

.primeira__info img{
  width: 700px;
  position: absolute;
  right: -180px;
  top: 50px;
 
}

/* Responsivo */

@media screen and (max-width: 1200px){
  .primeira__info img{
    width: 500px;
    right: -140px;
    top: 80px;
  }
}

@media screen and (max-width: 900px){
  .primeira__info{
    width: 100%;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .primeira__info img{
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  .primeira__info--texto{
  width: 60%;
  margin-left: 0;
  }
}