.segunda{
  display: flex;
  padding: 10px 100px;
  justify-content: space-between;
  align-items: center;
  margin-top: 250px;
  background-color: hsl(237, 17%, 21%);
  background-image: url('../images/bg-pattern-circles.svg');
  background-repeat: no-repeat;
  background-position: bottom -100px left -60%;
  position: relative;
  width: 100%;
  border-radius: 0 80px 0 80px;
}

.segunda__imagem img{
  position: absolute;
  top: -60px;
  width: 450px;
}

.segunda__texto{
  width: 36%;
}

.segunda__texto h3{
  color: #fff;
  font-family: var(--fonte-titulo);
  font-weight: bold;
  font-size: 28px;
  margin-top: 80px;
  margin-bottom: 20px;
}

.segunda__texto p{
  color: #fff;
  margin-bottom: 80px;
}

/* Responsivo */

@media screen and (max-width: 900px){
  .segunda{
    flex-direction: column;
    margin-top: 80px;
    padding: 10px 30px;
    justify-content: center;
  }
  .segunda__imagem img{
    position: relative;
    width: 300px;
  }

  .segunda__texto{
    text-align: center  ;
    width: 50%;
  }

  .segunda__texto h3{
    margin-top: 0px;
  }

  .segunda__texto p{
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 700px){
  .segunda__texto{
    width: 80%;
  }

  .segunda__imagem img{
    width: 200px;
  }
}